// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "showKeys": "true",
  "showPlayerLoc": "true",
  "showMouseLoc": "true",
  "dragScale": "1",
  "playerDisplay": "LargeDots",
  "selfDisplayScale": "1.0",
  "playerDisplayScale": "1.0",
  "showPlayerHeading": "false",
  "mobDisplay": "LargeDots",
  "mobDisplayScale": "1.0",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "false",
  "showVillagers": "false",
  "showPets": "false",
  "showPlayers": "false",
  "fontScale": "1.0",
  "showWaypointLabels": "true",
  "waypointLabelScale": "1.0",
  "waypointIconScale": "1.0",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "false",
  "showEntityNames": "false",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.9.0"
}